# ======================
# Python cache
# ======================
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/

# ======================
# Virtual environment
# ======================
.venv/
env/

# ======================
# Machine Learning Models (WAJIB)
# ======================
Model/**/*.safetensors
Model/**/*.bin

# But allow configs
!Model/BERT/
!Model/BERT/config.json
!Model/BERT/tokenizer_config.json
!Model/BERT/special_tokens_map.json
!Model/BERT/vocab.txt
!Model/BERT/bert_trainer_log.json

!Model/DISTILBERT/
!Model/DISTILBERT/config.json
!Model/DISTILBERT/tokenizer_config.json
!Model/DISTILBERT/special_tokens_map.json
!Model/DISTILBERT/vocab.txt
!Model/DISTILBERT/distilbert_trainer_log.json

# Jika mau LSTM disimpan, HAPUS baris ini
# Model/LSTM/

# ======================
# Dataset besar (opsional)
# ======================
*.csv

# ======================
# OS & Editor
# ======================
.DS_Store
Thumbs.db
