# ======================
# Python cache
# ======================
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/

# ======================
# Virtual environment
# ======================
.venv/
env/

# ======================
# Model files (besar)
# ======================
Model/**/*.safetensors
Model/**/*.bin

# ======================
# IZINKAN FOLDER MODEL
# ======================
!Model/
!Model/BERT/**
!Model/DISTILBERT/**

# ======================
# Dataset besar
# ======================
*.csv

# ======================
# OS & Editor
# ======================
.DS_Store
Thumbs.db
